img{  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow:hidden;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
}
.right{
    height: 100%;
    width: 50%;
    background-color: transparent;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
}
.left{
    width: 50%;
    height: 100vh;
    display: flex;
}
.en{
    background-color: transparent;
}
.form{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    margin-top: 20%;
    margin-bottom: 20%;
}
.en{
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 10%;
}
.a,b{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
}
.main{
    display: flex;
}